{% extends "::header.html.twig" %}


{% block content %}
    {% set currentPath = path(app.request.attributes.get('_route'),
    app.request.attributes.get('_route_params')) %}
    {% set page_title = 'show new product' %}
    <div style="padding-top: 100px"></div>
    <div class="container-fluid">
        <div class="row">
            {#<div class="col-sm-1">#}
            {#<img src="/uploads/images/{{ image2 }}" style="width:100%; margin: 15px;"#}
            {#onclick="openModal();currentSlide(2)" class="hover-shadow cursor">#}
            {#<img src="/uploads/images/{{ image3 }}" style="width:100%; margin: 15px;"#}
            {#onclick="openModal();currentSlide(3)" class="hover-shadow cursor">#}
            {#<img src="/uploads/images/{{ image4 }}" style="width:100%; margin: 15px;"#}
            {#onclick="openModal();currentSlide(4)" class="hover-shadow cursor">#}
            {#<img src="/uploads/images/{{ image5 }}" style="width:100%; margin: 15px;"#}
            {#onclick="openModal();currentSlide(4)" class="hover-shadow cursor">#}

            {#</div>#}
            {#<div class="col-sm-1">#}
            {#<hr style="align-items: left;border:none; border-left:1px solid hsla(200, 10%, 50%,100); height:50vh;width:1px;">#}
            {#</div>#}
            <div class="col-sm-5">
                <div class="row">
                    <div class="column" style="width:75%; padding-left: 25%;">
                        {#<div class="col">#}

                        <img src="/uploads/images/{{ image1 }}" style="width:100%;height: 100%;"
                             onclick="openModal();currentSlide(1)"
                             class="hover-shadow cursor">
                        {#</div>#}
                    </div>
                </div>

                <div id="myModal" class="modal">
                    <span class="close cursor" onclick="closeModal()">&times;</span>
                    <div class="modal-content">
                        {% if image1|length > 10 %}
                        <div class="mySlides">
                            <div class="numbertext">1 / 5</div>
                            <img src="/uploads/images/{{ image1 }}" style="width:100%;">
                        </div>
                        {% endif %}
                        {% if image2|length > 10 %}
                        <div class="mySlides">
                            <div class="numbertext">2 / 5</div>
                            <img src="/uploads/images/{{ image2 }}" style="width:100%">
                        </div>
                        {% endif %}
                        {% if image3|length > 10 %}
                        <div class="mySlides">
                            <div class="numbertext">3 / 5</div>
                            <img src="/uploads/images/{{ image3 }}" style="width:100%">
                        </div>
                        {% endif %}
                        {% if image4|length > 10 %}
                        <div class="mySlides">
                            <div class="numbertext">4 / 5</div>
                            <img src="/uploads/images/{{ image4 }}" style="width:100%">
                        </div>
                        {% endif %}
                        {% if image5|length > 10 %}
                        <div class="mySlides">
                            <div class="numbertext">5 / 5</div>
                            <img src="/uploads/images/{{ image5 }}" style="width:100%">
                        </div>
                        {% endif %}
                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1)">&#10095;</a>

                        <div class="caption-container">
                            <p id="caption"></p>
                        </div>

                        {% if image1|length > 10 %}
                        <div class="column">
                            <img class="demo cursor" src="/uploads/images/{{ image1 }}" style="width:75%; height:75%"
                                 onclick="currentSlide(1)" alt="{{ name }}">
                        </div>
                        {% endif %}
                        {% if image2|length > 10 %}
                        <div class="column">
                            <img class="demo cursor" src="/uploads/images/{{ image2 }}" style="width:75%; height:75%"
                                 onclick="currentSlide(2)" alt="{{ name }}">
                        </div>
                        {% endif %}
                        {% if image3|length > 10 %}
                        <div class="column">
                            <img class="demo cursor" src="/uploads/images/{{ image3 }}" style="width:75%; height:75%"
                                 onclick="currentSlide(3)" alt="{{ name }}">
                        </div>
                        {% endif %}
                        {% if image4|length > 10 %}
                        <div class="column">
                            <img class="demo cursor" src="/uploads/images/{{ image4 }}" style="width:75%; height:75%"
                                 onclick="currentSlide(4)" alt="{{ name }}">
                        </div>
                        {% endif %}
                        {% if image5|length > 10 %}
                        <div class="column">
                            <img class="demo cursor" src="/uploads/images/{{ image5 }}" style="width:75%; height:75%"
                                 onclick="currentSlide(5)" alt="{{ name }}">
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-sm-1">
                <hr style="align-items: left;border:none; border-left:1px solid hsla(200, 10%, 50%,100); height:40vh;width:1px;">
            </div>
            <div class="col-sm-6">

               <span style="font-weight: bold;"> {{ name }} </span>
                <hr>
                {{ "Promotional price"|trans }} <span style="float: none;font-size: 32px;color: red;font-weight:bold" >{{ price }} </span>лв.
                <hr>
                {{ category|trans }}
                <hr>
                {{ description | raw }}
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" style="padding-left: 5%;">
            <div class="col-sm-4">
                {% if image2|length > 10 %}
                <img src="/uploads/images/{{ image2 }}" style="width:20%; margin: 10px;" alt="{{ name }}"
                     onclick="openModal();currentSlide(2)" class="hover-shadow cursor">
                {% endif %}
                {% if image3|length > 10 %}
                <img src="/uploads/images/{{ image3 }}" style="width:20%; margin: 10px;" alt="{{ name }}"
                     onclick="openModal();currentSlide(3)" class="hover-shadow cursor">
                {% endif %}
                {% if image4|length > 10 %}
                <img src="/uploads/images/{{ image4 }}" style="width:20%; margin: 10px;" alt="{{ name }}"
                     onclick="openModal();currentSlide(4)" class="hover-shadow cursor">
                {% endif %}
                {% if image5|length > 10 %}
                <img src="/uploads/images/{{ image5 }}" style="width:20%; margin: 10px;" alt="{{ name }}"
                     onclick="openModal();currentSlide(4)" class="hover-shadow cursor">
                {% endif %}
            </div>
            <div class="col-sm-8" style="text-align: center;">
                <a class="buyNowButton" href="#">{{ "Buy now"|trans }}</a></div>
        </div>
    </div>
    <script>
        function openModal() {
            document.getElementById('myModal').style.display = "block";
        }

        function closeModal() {
            document.getElementById('myModal').style.display = "none";
        }

        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            var captionText = document.getElementById("caption");
            if (n > slides.length) {
                slideIndex = 1
            }
            if (n < 1) {
                slideIndex = slides.length
            }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            captionText.innerHTML = dots[slideIndex - 1].alt;
        }
    </script>



{% endblock %}
