{% extends 'base.html.twig' %}
{% block header %}

    {% set currentPath = path(app.request.attributes.get('_route'),
    app.request.attributes.get('_route_params')) %}


    <nav class="navbar navbar-default navbar-fixed-top">
        <div style="padding-left: 15px; padding-right: 15px;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">WebSiteName</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    {% if currentPath == '/' %}
                    <li class="active"><a href="/">{{ "layout.home"| trans({}, 'FOSUserBundle') }}</a></li>
                    {% else %}
                    <li><a href="/">{{ "layout.home"| trans({}, 'FOSUserBundle') }}</a></li>
                    {% endif %}
                    {% if is_granted("ROLE_ADMIN") %}
                        {% if 'admin' in app.request.get('_route') %}
                            <li class="active">
                                <a href="{{ path('admin') }}">
                                    <span class="glyphicon glyphicon-wrench"></span> Admin Panel</a>
                            </li>
                        {% else %}
                            <li><a href="{{ path('admin') }}">
                                    <span class="glyphicon glyphicon-wrench"></span> Admin Panel</a></li>
                        {% endif %}
                    {% endif %}
                </ul>


                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted("ROLE_USER") %}
                        <li class="active">
                            <a href="{{ path('fos_user_profile_show') }}">
                                <span class="glyphicon glyphicon-user"></span> {{ app.user.username }}</a>
                        </li>
                        <li class="active">
                            <a href="{{ path('fos_user_security_logout') }}">
                                <span class="glyphicon glyphicon-user"></span>
                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                        </li>
                    {% else %}


                        {% if 'login' in app.request.uri %}
                            <li class="active">
                                <a href="{{ path('fos_user_security_login') }}">
                                    <span class="glyphicon glyphicon-log-in"></span>
                                    {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ path('fos_user_security_login') }}">
                                    <span class="glyphicon glyphicon-log-in"></span>
                                    {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                                </a>
                            </li>
                        {% endif %}

                        {% if 'register' in app.request.uri %}
                            <li class="active">
                                <a href="{{ path('fos_user_registration_register') }}">
                                    <span class="glyphicon glyphicon-plus-sign"></span>
                                    {{ 'layout.register'|trans({}, 'FOSUserBundle') }}
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ path('fos_user_registration_register') }}">
                                    <span class="glyphicon glyphicon-plus-sign"></span>
                                    {{ 'layout.register'|trans({}, 'FOSUserBundle') }}
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>

{% endblock %}
{% block footer %}
    <div class="footer">
    <footer class="fixed-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-6 footer-col">
                    <div class="logofooter"> Logo</div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley.</p>
                    <p><i class="fa fa-map-pin"></i> #228, Tiruvannamalai, Tamilnadu, India</p>
                    <p><i class="fa fa-phone"></i> Phone (India) : +91 9999 999 999</p>
                    <p><i class="fa fa-envelope"></i> E-mail : info@prabuuideveloper.com</p>

                </div>
                <div class="col-md-3 col-sm-6 footer-col">
                    <h6 class="heading7">GENERAL LINKS</h6>
                    <ul class="footer-ul">
                        <li><a href="#"> Career</a></li>
                        <li><a href="#"> Privacy Policy</a></li>
                        <li><a href="#"> Terms & Conditions</a></li>
                        <li><a href="#"> Client Gateway</a></li>
                        <li><a href="#"> Ranking</a></li>
                        <li><a href="#"> Case Studies</a></li>
                        <li><a href="#"> Frequently Ask Questions</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 footer-col">
                    <h6 class="heading7">LATEST POST</h6>
                    <div class="post">
                        <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span>
                        </p>
                        <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span>
                        </p>
                        <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span>
                        </p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 footer-col">
                    <h6 class="heading7">Social Media</h6>
                    <ul class="footer-social">
                        <li><i class="fa fa-linkedin social-icon linked-in" aria-hidden="true"></i></li>
                        <li><i class="fa fa-facebook social-icon facebook" aria-hidden="true"></i></li>
                        <li><i class="fa fa-twitter social-icon twitter" aria-hidden="true"></i></li>
                        <li><i class="fa fa-google-plus social-icon google" aria-hidden="true"></i></li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="copyright">
            <div class="container">
                <div class="col-md-3">
                    <p>© 2017- All Rights Reserved</p>
                </div>
                <div class="col-md-8">
                    <ul class="bottom_ul">
                        <li><a href="#">prabuuideveloper.com</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Faq's</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Site Map</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    </div>
    <!--footer start from here-->

{% endblock %}